@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

*{
	font-family: 'Roboto Mono', monospace;

}

html{		scroll-behavior: smooth;}

body{		background-color:#35383d;
			color: white;
			padding:2rem;}

nav{		top:0;
			left:0;
			background-color:#35383d;
			width:100%;
			overflow: hidden;
			position:fixed;
			z-index: 1;}



nav a{		float:right;
			padding: 2%;
			font-size: 2vh;
			letter-spacing: .2vw;}

header{		border-bottom-style: solid}

section{	padding:3rem;
			border-bottom-style: solid;}

img{		}

.bw{		filter: grayscale(1) contrast(120%);}

a{			text-decoration: none;
			color:white;}

a:hover{	text-decoration: underline;
			transition-duration:.5s;}

h1{			letter-spacing: .2rem;}

h2{			text-decoration: underline;}

h3{			font-style: italic;}

.indent{	margin-left: 2rem;}

@keyframes delay{
	from{opacity:0;}
	to{opacity:1;}
}



.delay1{	opacity:0;
			animation: delay 2s;
			animation-fill-mode: forwards;
			animation-delay: 0s;}

p{			font-size: 1.5vh;
			line-height: 2.5vh;
			letter-spacing: 0rem;
			}

.landing{	height: 95vh;
			text-align: center;}

#landing{	padding-top: 35vh;
			font-size: 3vh;
			line-height: 5vh;}

#about{		height: 100vh;
			padding-top:30vh;
			line-height:1.5rem;
}

.about{		display: block;
			max-height: 25vh;
			width:50%;
			margin-left: auto;
			margin-right: auto;}

.about img{	float: left;
			display:block;
			padding-right:2rem;
			height:25vh;}

#works{		height: 100vh;
			padding-top:10vh;
			line-height:1.5rem;
}

#img1{
	opacity: .5;
}
#img2{
	opacity: .5;
}

.ride-container{
	display:block;
	float:left;
	margin-left:5vw;
	max-width: 42%;
	position: relative;
	text-align: center;
}

.mercs-container{
	display:block;
	float:left;
	margin-left:5vw;
	max-width: 42%;
	position: relative;
	text-align: center;
}

.ride{
	opacity:1;
	position: absolute;
	font-size: 8vw;
	letter-spacing: 2vw;
	pointer-events: none;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.mercs{
	opacity:1;
	position: absolute;
	font-size: 8vw;
	letter-spacing: 2vw;
	pointer-events: none;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.ride-container:hover{
	background-color: #1f915c;
	transition-duration: 1s;
}

.mercs-container:hover{
	background-color: #1f915c;
	transition-duration: 1s;
}

.centertext{
			text-align: center;}

button{		display:block;
			border:none;
			letter-spacing: .2rem;
			cursor:pointer;}

.button1{	background-color:#1f915c;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-weight: bold;
			color: #35383d;}

.button2{	background: linear-gradient(to right, #1f915c 50%, #35383d 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			transition: all .5s ease-out;
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			color:white;
			border-style: solid;
			border-radius: .5rem;
			border-width: .1rem;
			border-color: #1f915c;
			text-align: center;
			margin-left: 50%;
			transform: translate(-50%);
			}

.button2:hover{
			background-position: left bottom;
			color:#35383d;}

.img1{
	margin-left: 50%;
	transform: translate(-50%);
	width:90%;
}

.img-link-container{
			display:inline-block;
			position: relative;
			border-style: solid;
			border-width: 0.05rem;
			border-color: #1f915c;
			background: linear-gradient(to right, #1f915c 50%, rgba(0,0,0,0) 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			transition: all .5s ease-out;
			z-index: 2;}

.img-link{	filter: blur(1.5px);
			width:100%;}

.img-link:hover{
			opacity: 0.5;}

.img-link-container:hover .img-link-overlay{
			opacity:1;}

.img-link-container:hover{
			background-position: left bottom;
			cursor:pointer;}

.img-link-overlay{
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;}

.john{		pointer-events: none;}

em{			text-decoration: underline;
			font-style:normal;}
em:hover{	font-weight: bold;}



@media only screen and (max-width: 500px){
	nav{

		display:inline-block;


	}
	nav a{

		padding: 5%;
	}

	.about{ width:100%;}
	.bw{ 	width:100%; 
			}
	.about p{
		display: block;
	}


	.ride-container{
		max-width: 100%;
		padding-bottom: 8vh;
	}

	.mercs-container{
		max-width: 100%;
	}

}